body{
    color: #888888;
    /*    font-family: 'Bree Serif',serif;*/
    font-size: 16px;
    min-height: 2000px;
    padding-top: 55px;
}

#menu{
    margin-left: 277px;
}
.navbar-brand{
    margin-left: 50px;
    font-size: 24px;
}
#nav-main li a{
    color: #ffffff;
}

.navbar-right{
    padding-right: 10px;
}

#head{
    padding-top: -170px;
}

/*sdsd*/
.sidenav-actions{
    border-right: thick double #9D9D9D;
    position:fixed !important;
}